{
	auto_https off
	admin off
}

:80 {
	reverse_proxy localhost:8000 {
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
	}

	@websocket {
		path /room/*/stream
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @websocket localhost:8000 {
		flush_interval -1
	}

	log {
		output stdout
		format json
	}
}
